* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  height: 530px;
  width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 5px 5px 21px #dbd4d4;
  border-radius: 10px;
  border: 1px solid #f3f6f8;

  &__list {
    z-index: 10;
    background-color: #f4f6f8;
    padding: 60px 20px;
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    // overflow: hidden;
    // overflow-y: auto;
  }

  &__tasks {
    flex: 1;
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 10px;
}

.button {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  width: 200px;
  height: 37px;
  border: none;
  background: #4dd599;
  border-radius: 4px;

  &:hover {
    background: darken(#4dd599, 7%);
  }

  &:active {
    background: darken(#4dd599, 12%);
  }
}
